html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

@media only screen and (max-width : 1000px) {
  .Header {
    flex-direction: column !important;
    font-size: 1.5em !important;
  }
  .Header-profile {
    height: 35vw !important;
  }
  .Header-text {
    align-items: center !important;
    margin: 0 !important;
  }
  .Header-name {
    font-size: 2.5em !important;
  }
  .Header-button {
    margin: 2em 0.5em 3em 0.5em !important;
    padding: 0.25em 0.35em 0.25em 0.35em !important;
  }
  .Header-buttontext {
    margin: 2.5em 1em 3.9em 1em !important;
  }
  .About, .Experience, .Portfolio {
    padding: 0 2em 0 2em !important;
  }
  .About-title, .Experience-title, .Portfolio-title {
    margin: 0.5em 1em 0.5em 1em !important;
  }
  .About-intro {
    margin: 0 0 1.5em 0 !important;
    font-size: 1em !important;
  }
  .Skills {
    margin: 0 0 2em 0 !important;
    padding: 0.5em !important;
  }
  .Skill {
    margin: 0.5em !important;
  }
  .Jobs {
    width: 95vw !important;
    margin: 0 1.5em 0 1.5em !important;
  }
  .Job {
    max-width: 100% !important;
    margin: 0 1.5em 2em 1.5em !important;
    padding: 0.5em !important;
  }
  .Job-title {
    font-size: 1.5em !important;
  }
  .Job-subtitle {
    font-size: 1em !important;
  }
  .Job-description {
    font-size: 0.75em !important;
  }
  .Skills:hover, .Job:hover, .Project-media:hover {
    transform: none !important;
  }
  .Project {
    min-height: initial !important;
    margin: 0 0 3em 0 !important;
  }
  .Project-info {
    flex-direction: column !important;
  }
  .Project-text, .Project-media {
    width: 90vw !important;
  }
  .Project-button {
    font-size: 1.2em !important;
  }
  .Project-screenshot, .Project-image {
    display: none !important;
  }
  .Circle {
    display: none !important;
  }
}

.Circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  z-index: 0;
}

/* General styling */
.About, .Experience, .Portfolio {
  position: relative;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.About-title, .Experience-title, .Portfolio-title {
  margin: 1em;
  font-size: 3em;
  font-weight: bold;
}

/* Styling for the Header section */
.Header {
  min-height: 100vh;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  background-color: #574B60;
  color: white;
}

.Header-profile {
  height: 20vw;
  margin: 2em 2em 2em 2em;
  border: 0.2em solid white;
  border-radius: 50%;
  z-index: 1;
}

.Header-text {
  margin: 0 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  z-index: 1;
}

.Header-name {
  margin: 0.1em 0 0.1em 0;
  font-size: 3em;
  font-weight: bold;
  z-index: 1;
}

.Header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.Header-button {
  width: 2em;
  height: 2em;
  margin: 1em 0.5em 0 0;
  padding: 0.4em 0.48em 0.4em 0.48em;
  border: 0.1em solid white;
  border-radius: 50%;
  font-size: 1em;
  transition: all 0.7s ease;
  background: none;
  fill: white;
  cursor: pointer;
}

.Header-buttontext {
  height: 2.4em;
  margin: 1em 1em 0 0;
  padding: 0 0.5em 0 0.5em;
  border: 0.13em solid white;
  border-radius: 1em;
  font-size: 0.8em;
  transition: all 0.7s ease;
  background: none;
  color: white;
}

.Header-button:hover, .Header-buttontext:hover {
  background: white;
  fill: #574B60;
  color: #574B60;
}

/* Styling for the About section */
.About {
  height: 100vh;
  scroll-snap-align: center;
  background-color: #574B60;
  color: white;
}

.About-intro {
  margin: -0.5em 0 1.5em 0;
  font-size: 1.5em;
}

.Skills {
  margin: 0 0 3em 0;
  padding: 1em 1em 0 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
  background: #7D8491;
  fill: white;
  color: white;
}

.Skills-title {
  margin: 0em 0 0.5em 0;
  font-size: x-large;
  font-weight: bold;
}

.Skills-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Skill {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Skill-label {
  margin: 1em 0 0 0;
}

/* Styling for the Experience section */
.Experience {
  height: 100vh;
  scroll-snap-align: center;
  background-color: #3F334D;
  color: white;
}

.Jobs {
  width: 88vw;
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Job {
  max-width: 40%;
  margin: 0 1.5em 3em 1.5em;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
  background: #7D8491;
  color: white;
}

.Job-title {
  font-size: 2em;
  font-weight: bold;
}

.Job-subtitle {
  margin: 0 0 1em 0;
  font-size: 1.2em;
}

/* Styling for the Portfolio section */
.Portfolio {
  color: white;
  background-color: #3F334D;
}

.Project {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Project-text {
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Project-title {
  font-size: 2em;
  font-weight: bold;
}

.Project-subtitle {
  margin: 0 0 1em 0;
  font-size: 1.2em;
}

.Project-buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Project-button {
  margin: 1em 0.2em 0 0.2em;
  padding: 0.2em 0.8em 0.2em 0.8em;
  border-radius: 1em;
  font-size: 1.5em;
  transition: all 0.7s ease;
  text-decoration: none;
  background: #7D8491;
  color: white;
  cursor: pointer;
}

.Project-button:hover {
  transform: scale(1.1) perspective(1em);
}

.Project-media {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Project-screenshot {
  width: 100%;
  min-width: 0;
  margin: 1.5%;
  transition: all 0.7s ease;
}

.Project-screenshot-main {
  width: 100%;
  min-width: 0;
  margin: 1.5%;
  transition: all 0.7s ease;
}

.Project-image {
  width: 100%;
  min-width: 0;
  margin: 1.5%;
  border: 0.2em solid white;
  border-radius: 1em;
  transition: all 0.7s ease;
}

.Project-image-main {
  width: 100%;
  min-width: 0;
  margin: 1.5%;
  border: 0.2em solid white;
  border-radius: 1em;
  transition: all 0.7s ease;
}

.Project-screenshot-main:hover, .Project-screenshot:hover, .Project-image-main:hover, .Project-image:hover, .Job:hover, .Skills:hover {
  transform: scale(1.1) perspective(1em);
}
